@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 5%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 5%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 5%;

		--primary: 188 100% 39%;
		--primary-foreground: 0 0% 2%;

		--secondary: 0 0% 96%;
		--secondary-foreground: 0 0% 5%;

		--muted: 0 0% 96%;
		--muted-foreground: 0 0% 45%;

		--accent: 0 0% 96%;
		--accent-foreground: 0 0% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 92%;
		--input: 0 0% 85%;
		--ring: 0 0% 76%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 180 4% 5%;
		--foreground: 0 0% 98%;

		--card: 180 3% 6%;
		--card-foreground: 0 0% 98%;

		--popover: 180 3% 6%;
		--popover-foreground: 0 0% 98%;

		--primary: 188 100% 39%;
		--primary-foreground: 0 0% 2%;

		--secondary: 180 2% 12%;
		--secondary-foreground: 0 0% 98%;

		--muted: 180 2% 18%;
		--muted-foreground: 180 2% 49%;

		--accent: 185 18% 12%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 180 2% 12%;
		--input: 180 2% 18%;
		--ring: 189 100% 40%;
	}

	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		src: url($lib/fonts/poppins-regular.woff2) format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		src: url($lib/fonts/poppins-bold.woff2) format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 800;
		src: url($lib/fonts/poppins-extrabold.woff2) format("woff2");
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
